<a href="https://colab.research.google.com/github/TheLbh3/TheLbh3/blob/main/Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('louis heard')

louis heard

In [5]:
print("louis")
print("heard")
#fjfbcxcjlckj

louis
heard

In [10]:
#Exercise 1
x="louis"
y="heard"
z="hello" #added by abhishek
print(x+y+z+"third")

louisheardhellothird

In [11]:
#Exercise 2
print("I am Learning Python")
#It is possible to write like this

I am Learning Python

In [17]:
Louis132526="chocolate"
heard="cake"
print(Louis132526+heard+"is nice")

chocolatecakeis nice

In [18]:
#Exercise 3
age=36
print(age)

36

In [19]:
x=25
y=20
print(x+y+10)

55

In [20]:
a=input("louis")
print(a)

louisyfhgvhjbhbk
yfhgvhjbhbk

In [22]:
name=input("type your name")
age=input("type your age")
print(name,age)

type your namelouis
type your age36
louis 36

In [23]:
#Exercise 4
x=input("name")
y=input("age")
print("Hey", x, "I am glad you started learning python at the age of", y)

namelouis
age36
Hey louis I am glad you started learning python at the age of 36

In [28]:
a= "louis"
print(a)

louis

In [31]:
#Exercise 5
discount=43.8
height=143
address="#301, Pelican Street"
print(type(address))

<class 'str'>

In [38]:
a=[3,4,5,6,7,"apple","banana"]
b=(3,4,1,2,"apple")
print(a)
print(b)
print(type(a))
print(type(b))

[3, 4, 5, 6, 7, 'apple', 'banana']
(3, 4, 1, 2, 'apple')
<class 'list'>
<class 'tuple'>